
<div class="table_container">
  <h3>Your ride requests ...</h3>

  <% if @rides.empty? %>
    <%= render partial: 'layouts/no_content', locals: { message: 'You havent requested to join any rides.'}  %>
  <% else %>
    <ul class="responsive_table">
      <li class="table_header rides">
        <div class="col col_1">Origin</div>
        <div class="col col_2">Destination</div>
        <div class="col col_3">Departure Date</div>
        <div class="col col_4">Actions</div>
      </li>
      <% @rides.each do |ride| %>
        <li class="table_row rides">
          <%= link_to '', ride, class: :navig %>
          <div class="col col_1" data-label="Origin"><%= ride.origin %></div>
          <div class="col col_2" data-label="Destination"><%= ride.destination %></div>
          <div class="col col_3" data-label="Departure Date"><%= ride.departure_date.strftime("%B %d, %Y") %></div>
          <div class="col col_4 actions">
            <%= link_to raw("<i class='fa fa-tv' data-toggle='tooltip' title='show'></i>"),
                        ride %> |
            <%= link_to raw("<i class='fa fa-ban' data-toggle='tooltip' title='cancel ride request'></i>"),
                        destroy_ride_request_path(ride_id: ride.id, user_id: current_user.id),
                        method: :delete, data: { confirm: 'Are you sure you wish to cancel this request?'},
                        class: :delete_link %>
          </div>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>
