
<div class="user">

  <div class="container">
    <% if alert %>
      <p class="toast alert"><%= alert %></p>
    <% elsif notice %>
      <p class="toast notice"><%= notice %></p>
    <% end %>

    <h3>Forgot your password?</h3>

    <div class="form_holder">

      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= devise_error_messages! %>

        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>

        <div class="actions">
          <%= f.submit "Send me reset password instructions", class: :btn %>
        </div>
      <% end %>
    </div>

    <div class="link_holders">
      <div class="links">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>