<div class="show_view">
  <div class="image">

  </div>
  <div class="card">
    <p>
      <strong>Model:</strong>
      <%= @vehicle.vehicle_model %>
    </p>

    <p>
      <strong>License plate:</strong>
      <%= @vehicle.license_plate %>
    </p>

    <p>
      <strong>Capacity:</strong>
      <%= @vehicle.capacity %>
    </p>

    <p>
      <strong>Owner:</strong>
      <%= @vehicle.user&.full_name %>
    </p>

    <p>
      <strong>Owner Email:</strong>
      <%= @vehicle.user&.email %>
    </p>
  </div>
</div>

<%= link_to 'Edit', edit_vehicle_path(@vehicle) %> |
<%= link_to 'Back', vehicles_path %>
