<div class="show_container">
  <div class="header">
    <div class="skew">

    </div>
  </div>
  <div class="content_holder">

    <div class="info">
      <div class="info_container">
        <div class="info_field">
          <h5>Driver Info:</h5>
          <span>
          <strong>Name: </strong> <%= @ride.owner&.full_name %>
            <br>
          <strong>Email: </strong> <%= @ride.owner&.email %>
        </span>
        </div>

        <div class="info_field">
          <h5>Vehicle Info:</h5>
          <span>
          <strong>Vehicle model: </strong> <%= @ride.vehicle.vehicle_model %>
            <br>
          <strong>License plate: </strong> <%= @ride.vehicle.license_plate %>
        </span>
          </span>
        </div>

        <div class="info_field">
          <h5>Description</h5>
          <span class="description">
            <%= @ride.description %>
          </span>
        </div>
      </div>

      <div class="links">
        <%= link_to raw("&#8617; Back"), rides_path, class: :btn %>
        <% if current_user == @ride.owner %>
          <%= link_to raw("<i class='fa fa-pencil'></i> Edit"), edit_ride_path(@ride), class: :btn %>
        <% end %>
      </div>
    </div>

    <div class="details">
      <div class="title">
        <h3>Ride details</h3>
        <span>
          <strong><i class="fa fa-map-marker"></i></strong> <u>Origin:</u>
          <%= @ride.origin %> |
          <u>Destination:</u>
          <%= @ride.destination %>
        </span> <br>

        <span>
          <u>Leaving on:</u> <i class="fa fa-calendar"></i>
          <%= @ride.departure_date.strftime("%B %d, %Y") %>
          <u>at</u> <i class="fa fa-clock-o"></i>
          <%= @ride.departure_time.strftime("%I:%M %p") %>
        </span>
      </div>

      <div class="details_content">
        <h5>Ride requests</h5>

        <div class="details_cards">
          <%= render partial: 'requesters', locals: { ride: @ride} %>
        </div>
      </div>
    </div>
  </div>
</div>
