<div class="navigation">
  <div class="nav_title">
    <h1 class="app_title">Ride Share</h1>
    <% if current_user %>
      <div class="notifications_holder">
        <i class="fa fa-bell-o" id="notification_toggle"><span class="count">0</span></i>
        <ul class="notifications" id="notifications"></ul>
      </div>
      <div class="user">
        Welcome, <%= current_user.full_name %>
      </div>
    <% end %>
  </div>

  <ul class="menu">
    <% if current_user %>
      <li class="<%= current_class?(home_index_path) %>">
        <%= link_to "Home", home_index_path, class: current_class?(home_index_path) %>
      </li>
      <li class="<%= current_class?(new_ride_path) %>">
        <%= link_to "Offer Ride", new_ride_url, class: current_class?(new_ride_path) %>
      </li>
      <li class="<%= current_class?(new_ride_url) %>">
        <%= link_to "Find Ride", new_ride_url, class: current_class?(new_ride_url) %>
      </li>
      <li class="<%= current_class?(user_requests_path) %>">
        <%= link_to "Ride requests", user_requests_path, class: current_class?(user_requests_path) %>
      </li>
      <li class="slider"></li>
    <% else %>
      <li class="login_message">
        <a>Welcome! Please, login in to access the nav bar.</a>
      </li>
    <% end %>
  </ul>
</div>

<div class="sidebar">
  <% if current_user %>
    <div class="item <%= current_class? home_index_path %>" title="Homepage">
      <%= link_to raw("<i class=\"fa fa-home\"></i>"), home_index_path %>
      <span>Home</span>
    </div>
    <div class="item <%= current_class? rides_path %>" title="Rides">
      <%= link_to raw("<i class=\"fa fa-taxi\"></i>"), rides_url %>
      <span>Rides</span>
    </div>
    <div class="item <%= current_class? vehicles_path %>" title="Cars">
      <%= link_to raw("<i class=\"fa fa-car\"></i>"), vehicles_url %>
      <span>Cars</span>
    </div>

    <% if current_user.is_admin %>
      <div class="item <%= current_class? users_path %>" title="Users">
        <%= link_to raw("<i class=\"fa fa-user\"></i>"), users_url %>
        <span>Users</span>
      </div>
    <% end %>

    <div class="item logout" title="Logout">
      <a><i class="fa fa-sign-out"></i></a>
      <%= button_to '', destroy_user_session_path, method: :delete %>
      <span>Logout</span>
    </div>

  <% else %>
    <div class="item <%= current_class? '/users/sign_in' %>" title="Cars">
      <a href='/users/sign_in'><i class="fa fa-sign-in"></i></a>
      <span>Sign in</span>
    </div>

    <div class="item <%= current_class? '/users/sign_up' %>" title="Cars">
      <a href='/users/sign_up'><i class="fa fa-user-plus"></i></a>
      <span>Sign up</span>
    </div>
  <% end %>
</div>
