<!DOCTYPE html>
<html>
  <head>
    <title>RidesharingApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD7qd8j0qZwgjLuNLCzZSBZVNdu-6XYZww&libraries=places"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>

  <body>
    <%= render 'layouts/navigation' %>

    <div class="app_container">
      <% if notice %>
        <script>
            alertify.success("<%= notice %>");
        </script>
      <% end %>

      <% if alert %>
        <script>
          alertify.warn("<%= alert %>")
        </script>
      <% end %>

      <div id="main">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
